body {
    background-color: hsla(134, 70%, 34%, 0.555);
    color:green;
    font-size:30px;
}

p {
    color: rgb(0, 0, 0); 
    font-size: 30px;
    font-family: Helvetica;
    text-align: left;
}

.explain {
    color: rgb(0, 0, 0); 
    font-size: 30px;
    font-family: Helvetica;
    text-align: left;
    border: darkgreen;
    padding: 20px;
    border-left-style: solid;
    
}

.images {
    color: rgb(0, 0, 0); 
    font-size: 30px;
    font-family: Helvetica;
    text-align: center;
}

.game {
    text-align:center;
    font-size:160%;
}

h1 {
    font-family:Helvetica;
    color: rgb(0, 0, 0);
    text-align:center;
    font-size:300%;
}

h2 {
    font-family:Helvetica;
    color: rgb(0, 133, 40);
}

h3 {
    font-family:Helvetica;
    color: rgb(0, 133, 40);
}

h4 {
    font-family:Helvetica;
    color: rgb(0, 133, 40);
    font-size: smaller;
    text-align: left;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #272727;
    text-align: left;
}

hr {
    color: rgb(0, 0, 0);
}

ul {
    font-family:Helvetica;
    color: rgb(0, 0, 0);
    text-align: center;
}

.candidates {
    font-family:Helvetica;
    color: rgb(0, 0, 0);
    text-align: left;
}
     
li a {
      display: block;
      color: rgb(255, 255, 255);
      text-align: left;
      padding: 30px;
      text-decoration: none;
}
  
li a:hover {
      background-color: #414141;
}

pre {
    color: rgb(0, 0, 0);
}

h4 {
    font-size: 40px;
    color: black;
    font-family:Helvetica;
} 

table {
    color: rgb(0, 0, 0); 
    font-size: 30px;
    font-family:Helvetica;
    width: 20%;
    align-self: center;
}

table, th, td {
    border: solid darkgreen;
    padding: 10px;
}

ol {
    color: rgb(0, 0, 0); 
}

a {
    font-family: Helvetica;
    font-size: 30px;
}

.see_candidates {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 30px;
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(0, 107, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(0, 107, 0);
    background-color: transparent;
    text-decoration: underline;
  }

.navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}