body {
    background-color: hsla(134, 70%, 34%, 0.555);
    color:green;
    font-size:30px;
}

@media screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    .explain {
        color: rgb(201, 14, 14); 
        font-size: 30px;
        font-family: Helvetica;
        text-align: left;
    }
}

p {
    color: rgb(0, 0, 0); 
    font-size: 30px;
    font-family: Helvetica;
    text-align: left;
}

.explain {
    color: rgb(0, 0, 0); 
    font-size: 30px;
    font-family: Helvetica;
    text-align: left;
    border: darkgreen;
    padding: 50px;
    border-left-style: solid;
    
}

.images {
    color: rgb(0, 0, 0); 
    font-size: 30px;
    font-family: Helvetica;
    text-align: center;
}

.game {
    text-align:center;
    font-size:70px;
    font-family: courier;
}

h1 {
    font-family:courier;
    color: rgb(0, 0, 0);
    text-align:center;
    font-size:100px;
}

h2 {
    font-family:Helvetica;
    color: rgb(0, 133, 40);
}

h3 {
    font-family:Helvetica;
    color: rgb(0, 133, 40);
}

h4 {
    font-family:Helvetica;
    color: rgb(0, 133, 40);
    font-size: smaller;
    text-align: left;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 50;
    width: 100%;
    background-color: #272727;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid white;
    float: center;
    padding: 50;
 }

.backhome {
    margin: 20;
    float: right;
    padding: 50;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #272727;
    text-align: left;
}

hr {
    color: rgb(0, 0, 0);
}

ul {
    font-family:Helvetica;
    color: rgb(0, 0, 0);
    text-align: center;
}

.candidates {
    font-family:Helvetica;
    color: rgb(0, 0, 0);
    text-align: left;
}
     
li a {
      display: block;
      color: rgb(255, 255, 255);
      text-align: left;
      padding: 30px;
      text-decoration: none;
}
  
li a:hover {
      background-color: #414141;
}

pre {
    color: rgb(0, 0, 0);
}

h4 {
    font-size: 40px;
    color: black;
    font-family:Helvetica;
} 

table {
    color: rgb(0, 0, 0);    
    font-size: 30px;
    font-family:Helvetica;
    width: 100%;
    align-self: center;
}

table, th, td {
    border: solid darkgreen;
    padding: 1px;
    align-self: center; 
}

ol {
    color: rgb(0, 0, 0); 
}

a {
    font-family: Helvetica;
    font-size: 30px;
}

.see_candidates {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 30px;
}

.see_candidates a:link, a:visited, a:hover, a:active {
    color: rgb(0, 107, 0);
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(0, 107, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(0, 107, 0);
    background-color: transparent;
    text-decoration: underline;
  }

.navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}

.flags {
    border: 10px solid rgb(4, 136, 33);
}

.boxee {
    grid-column: 1 / span 4;
    grid-row: 1;
  }

  .box_e {
    grid-column: 1;
    grid-row: 2;
}

.box_f {
    grid-column: 2;
    grid-row: 2;
}

.box_g {
    grid-column: 3;
    grid-row: 2;
}

.box_h {
    grid-column: 4;
    grid-row: 2;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: ( [col] 100px ) ;
    grid-template-rows: repeat([row]);
    background-color: rgb(203, 255, 203);
    color: rgb(0, 0, 0);
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: rgb(90, 230, 90);
    padding: 10px;
  }

  .grid-container > div {
    background-color: rgb(203, 255, 203);
    text-align: center;
    padding: 50px;
    font-size: 20px;
  }