body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.hintergrund {
  background-image: url("https://www.rivage-flussreisen.ch/tourtrader/_processed_/4/e/csm_1222272_c7143ccd54.jpg");
  filter: blur(8px);
}

.body_lu {
  background-image: url("https://www.fodors.com/assets/destinations/707514/cityscape-lake-lucerne-lucerne-switzerland.jpg");
}

.body_paris {
  background-image: url("https://de.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_230/vue-a%C3%A9rienne-paris-tour-eiffel-coucher-de-soleil-%7C-630x405-%7C-%C2%A9-fotolia/19544352-1-fre-FR/Vue-a%C3%A9rienne-Paris-Tour-Eiffel-coucher-de-soleil-%7C-630x405-%7C-%C2%A9-Fotolia.jpg");
}

  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("https://clipartart.com/images600_/green-world-map-clipart-3.jpg");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }

  .bg-image2 {
    /* The image used */
    background-image: url("https://www.rivage-flussreisen.ch/tourtrader/_processed_/4/e/csm_1222272_c7143ccd54.jpg");
    
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }

  .bg-image3 {
    /* The image used */
    background-image: url("https://www.fodors.com/assets/destinations/707514/cityscape-lake-lucerne-lucerne-switzerland.jpg");
    
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }

  .bg-image4 {
    /* The image used */
    background-image: url("https://de.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_230/vue-a%C3%A9rienne-paris-tour-eiffel-coucher-de-soleil-%7C-630x405-%7C-%C2%A9-fotolia/19544352-1-fre-FR/Vue-a%C3%A9rienne-Paris-Tour-Eiffel-coucher-de-soleil-%7C-630x405-%7C-%C2%A9-Fotolia.jpg");
    
    /* the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }


  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 5px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 40px;
    text-align: center;
    float: left;
    border: 5px solid white;
  }

  .bg-text2 {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 40px;
    text-align: center;
    float: center;
    border: 5px solid white;
  }


  .bg-text3 {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: auto;
    padding: auto;
    text-align: center;
  }

  a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }

 .footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    border: 1px solid white;
    float: left;
 }

 .backhome {
   margin: 20px;
   float: right;
 }

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas: 
  'header header header header header header'
  'menu main main main main right'
  'menu footer footer footer footer right';
  background-color: rgb(0, 107, 0);
  padding: 10px;
}

  h1 {
    text-decoration: underline overline;
    font-size:50px;
    text-transform: uppercase;
 }

 h2 {
    font-variant: small-caps;
 }

 .title {
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
 }

 .title a, a:hover, a:active {
  background-color: rgb(255, 255, 255);
}

 .footer a:link, a:visited {
  background-color: none;
  border: 5px solid white ;
  color: white;
  padding:10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.footer a:hover, a:active {
  background-color: rgb(243, 237, 237);
}

.navli {
  background-color: transparent;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  text-align: center;
  border: 5px solid white;
}

div.gallery {
  margin: 0;
  float: center;
  width: 50%;
  position: center;
  padding: 0%;
}

div.gallery:hover {
  border: none;
}

div.gallery img {
  width: 100%;
  height: 50%;
}

#ams a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
}

.img {
  border: 5px solid white;
  margin: 10px;
}

.flagss a:link, a:visited, a:hover, a:active {
  color: rgb(0, 107, 0);
  background-color: transparent;
   text-decoration: none;
}

.flagss, a:hover, a:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
   text-decoration: none;
}
