body {
  background: rgb(39,39,39);
  background: linear-gradient(90deg, rgba(39,39,39,1) 10%, rgba(0,180,4,1) 20%, rgba(0,245,5,1) 50%, rgba(0,180,4,1) 80%, rgba(39,39,39,1) 90%);
}

@media screen and (max-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'menu main main'
    'footer footer footer';
    grid-gap: 10px;
    background-color: #db0000;
    padding: 10px;
  }
}

@media (prefers-color-scheme: dark) {

}

.grid-container {
    display: grid;
    grid-template-areas: 
    'menu header header'
    'menu main main'
    'footer footer footer';
    grid-gap: 10px;
    background-color: #272727;
    padding: 10px;
  }
  
.grid-container > div {
    background: transparent;
    border: solid #272727;
    border-right: none;
    text-align: center;
    padding: 50px;
    font-size: 20px;
  }

  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: ( [col] 100px ) ;
    grid-template-rows: repeat([row]);
    background-color: rgb(203, 255, 203);
    color: rgb(0, 0, 0);
    border: none;
    background: transparent;
}

.item1 { grid-area: menu; }
.item2 { grid-area: header; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

  .item1 {
    grid-column: 1;
    grid-row: 1;
  }
  
  #itemm1 {
    background-color: #272727;
    padding: 5px;
    border-left: none;
}
  
  .item2 {
    grid-column: 2 / span 2;
    grid-row: 1;
  }

  #itemm2 {
    padding: 5px;
  }
  
  .item3 {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  #itemm3 {
    border-left: none;
  }
  
  .item4 {
    grid-column: 3;
    grid-row: 2 / span 2;
  }
  
  .item5 {
    grid-column: 1;
    grid-row: 3;
  }

  #itemm5 {
    border-left: none;
  }

  .item6 {
    grid-column: 2;
    grid-row: 3;
  }

  .item8 {
    grid-column: 1 / span 3;
    grid-row: 4;
  }

  #itemm8 {
    border-left: none;
  }

  .boxee {
    grid-column: 1 / span 4;
    grid-row: 1;
  }

  .box_e {
    grid-column: 1;
    grid-row: 2;
}

.box_f {
    grid-column: 2;
    grid-row: 2;
}

.box_g {
    grid-column: 3;
    grid-row: 2;
}

.box_h {
    grid-column: 4;
    grid-row: 2;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: #272727;
  text-align: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #414141;
  text-decoration: underline;
}

.see_candidates {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}

.see_candidates a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}

h1 {
  font-size: 80px;
  background: -webkit-linear-gradient(rgb(0, 199, 17), rgb(0, 48, 11));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: courier;
  cursor: context-menu;
}

h2 {
  background: -webkit-linear-gradient(rgb(0, 199, 17), rgb(0, 48, 11));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align:center;
    font-size: 40px;
    border-bottom: solid black;
    border-top: solid black;
}

.game {
    text-align:center;
    font-size:60px;
    border-bottom: solid black;
    border-top: solid black;
}

ul {
    list-style-type: none;
}

.i4 {
    text-align: left;
}

table, th, td {
  border-bottom: 3px solid black;
  border-collapse: collapse;
  padding: 5px;
  margin: auto;
}

.tabledata {
  border-bottom: 3px solid black;
  border-left: 1px dotted black;
  width: 80%;
}

.season {
    text-align: center;
}

.timeanddate {
  background-color: #272727;
  color: white;
  padding: 15px;
}

.button {
  background-color: #272727;
  color: white;
  padding: 10px;
  margin: 20px;
}

button a:hover {
  background-color: #414141;
  text-decoration: underline;
}

.p {
  font-size: 25px;
  color: white;
}

.molactiesp {
  font-size: 20px;
  color: white;
}
  
