body {
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/81Kn%2B3DfhVL._AC_SL1200_.jpg);
    filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}